.membre-container {
    padding: 20px;
}

.membre-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.player-points {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.point-icon {
    width: 36px;
    height: 36px;
}

.week-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.points-area,
.defis-area {
    margin-top: 20px;
    background-color: #2e3757;
    padding: 4px; /* Plus de confort visuel */
    border-radius: 12px; /* Adouci le rayon des coins */
}

.error-message {
    color: #ff4d4d; /* Rouge plus doux */
    font-size: 16px;
    text-align: center;
}

.defi-item {
    border: 1px solid #f1ecc8;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    /* background-color: #282c34; */
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacement optimisé */
}

.defi-item.completed {

}

.defi-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #f1ecc8;
    display: flex;
    align-items: center;
}

.defi-title {
    margin: 0;
}

.defi-details {
    font-size: 0.9em;
    color: #ddd;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.defi-description,
.defi-points {
    margin: 0;
}

.defi-progress {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    justify-content: center;
}

.point-icon {
    width: 36px;
    height: 36px;
}

.point_no {
    width: 36px;
    height: 36px;
    border: 2px dashed #f1ecc8;
    border-radius: 50%;
    background-color: transparent;
}
