.menu {
    display: flex;
    justify-content: center;
    height: 64px;
    background: rgb(178,161,120);
    background: linear-gradient(180deg, rgba(178,161,120,1) 0%, rgba(248,236,201,1) 100%);
    border-top: 1px solid #cdc29f;
    position: fixed !important;
    bottom: 0;       /* Place le footer en bas de l'écran */
    margin-bottom: 0;
    width: 100vw;     /* S'étend sur toute la largeur de l'écran */
    max-width: 100vw;
    z-index: 1000;   /* Assure que le footer reste au-dessus d'autres éléments */
}

.menu-item {
    height: auto;
    border-left: 1px solid #9a8d68;
    border-right: 1px solid #F8ECC9FF;
    cursor: pointer;
    padding: 10px 0;
    flex-grow: 1;    /* Chaque bouton prend tout l'espace */
    text-align: center; /* Centre le texte dans chaque bouton */
}

.menu-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Le lien occupe toute la largeur de l'élément */
    height: 100%; /* Le lien occupe toute la hauteur de l'élément */
    text-decoration: none; /* Supprime les soulignements des liens */
    color: inherit; /* Hérite de la couleur pour un aspect uniforme */
}

.menu-item-focus {
    background: rgb(178,161,120);
    background: linear-gradient(180deg, rgba(248,236,201,1)  0%, rgba(178,161,120,1) 100%);
}

.menu-item img {
    height: 42px;
}
