@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body {
    background-color: #242b43;
    display: unset !important;
    place-items: unset !important;
    min-width: 320px;
    min-height: 100vh;
    width: 100vw !important;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: unset !important;
}

h2 {
    color: #fff0d9 !important;
    font-size: 1.8em !important;
    font-weight: bold !important;
}

.app-content {
    color: white;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 92px;
}


.week-title {
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color: #fff0d9 !important;
    background: linear-gradient(0deg, rgba(178, 161, 120, 1) 0%, rgba(248, 236, 201, 1) 100%);
    color: #312612 !important;
    font-weight: bold !important;
    font-size: x-large;
    margin: 4px !important;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    Height: 64px;
}

.decorative-line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.decorative-line::after {
    content: "";
    flex-grow: 1;
    height: 1.23px;
    background-color: #fff0d9; /* Couleur de la ligne */
    margin: 0px;
}

.center-decor {
    width: 80px; /* Ajustez selon la largeur de l'image */
    height: 13px; /* Ajustez selon la hauteur de l'image */
    background-image: url('https://inkigai.ch/divider_left2.svg'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-repeat: no-repeat;
}

.panel-tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #bdc3c7;
    padding: 10px 0;
    margin-bottom: 20px;
}

.tab {
    font-weight: bold;
    cursor: pointer;
    margin: 32px 0;
}

.tab.active {
    background-color: #fff0b9;
    color: #312612 !important;
}

.point_no {
    height: 100%;
    width: 36px;
    border-radius: 50%;
    border: dashed 1px rgba(241, 236, 200, 0.62);
    background: rgb(43, 52, 82);
}

.week-navigation-row {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
    margin: 20px;
}

.week-navigation-column {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    margin: 20px;
}
